.header {
    padding: 16px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
}

.header-search {
    position: relative;
}

.header-search img {
    position: absolute;
    top: 14px;
    left: 16px;
}

.header-search input {
    padding: 16px 16px 16px 48px;
    border-radius: 8px;
    background-color: #F5F5F5;
    width: 372px;
    border: 0;
}

.header-search input::placeholder {
    font-size: 14px;
    line-height: 18px;
    opacity: 50%;
    color: #656565;
}

.header-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 52px;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    opacity: 30%;
}

.header-menu ul li a.active {
    opacity: 1;
}

.header-actions {
    display: flex;
    gap: 24px;
}

.banner {
    background: linear-gradient(#211C24, #211C24);
    height: 632px;
}

.banner .banner-content {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.banner .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.banner .banner-left h3 {
    margin: 0;
    line-height: 32px;
    font-size: 25px;
    color: #fff;
    opacity: 40%;
}

.banner .banner-left .title {
    margin: 0;
    line-height: 72px;
    font-size: 96px;
    font-weight: 300;
    color: #fff;
}

.banner .banner-left .title span {
    font-weight: 700;
}

.banner .banner-left p {
    font-size: 18px;
    line-height: 24px;
    color: #909090;
}

.banner .banner-left button {
    padding: 16px 56px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.product-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-top .product-top-left {
    display: flex;
    flex-direction: column;
}

.product-top .product-top-left .product-top-left-top {
    display: flex;
    align-items: center;
    padding-right: 48px;
}

.product-top .product-top-left .product-top-left-top div {
    font-size: 49px;
    line-height: 40px;
    color: #000000;
}

.product-top .product-top-left .product-top-left-top p,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right p,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right p,
.product-top .product-top-right .product-top-right-left p {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.product-top .product-top-left .product-top-left-top-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-top .product-top-left .product-top-left-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-top .product-top-left .product-top-left-bottom-left {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    padding-right: 48px;
    gap: 48px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right div {
    font-size: 29px;
    line-height: 40px;
    color: #000000;
    font-weight: 300;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right div span {
    font-weight: 400;
}

.product-top .product-top-left .product-top-left-bottom-right {
    display: flex;
    align-items: center;
    background-color: #353535;
    padding-right: 48px;
    gap: 16px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right div {
    font-size: 29px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right div span {
    font-weight: 400;
}

.product-top .product-top-right {
    display: flex;
    align-items: center;
    padding-left: 56px;
    background-color: #EDEDED;
    gap: 12px;
}

.product-top .product-top-right .product-top-right-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.product-top .product-top-right .product-top-right-left div {
    font-size: 64px;
    line-height: 56px;
    color: #000000;
    font-weight: 200;
}

.product-top .product-top-right .product-top-right-left div span {
    font-weight: 500;
}

.product-top .product-top-right .product-top-right-left button {
    padding: 16px 56px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}