.header {
    padding: 16px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 56px;
}

.header-search {
    position: relative;
}

.header-search img {
    position: absolute;
    top: 14px;
    left: 16px;
}

.header-search input {
    padding: 16px 16px 16px 48px;
    border-radius: 8px;
    background-color: #F5F5F5;
    width: 372px;
    border: 0;
}

.header-search input::placeholder {
    font-size: 14px;
    line-height: 18px;
    opacity: 50%;
    color: #656565;
}

.header-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 52px;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    opacity: 30%;
}

.header-menu ul li a.active {
    opacity: 1;
}

.header-actions {
    display: flex;
    gap: 24px;
}

.banner {
    background: linear-gradient(#211C24, #211C24);
    height: 632px;
}

.banner .banner-content {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.banner .banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.banner .banner-left h3 {
    margin: 0;
    line-height: 32px;
    font-size: 25px;
    color: #fff;
    opacity: 40%;
}

.banner .banner-left .title {
    margin: 0;
    line-height: 72px;
    font-size: 96px;
    font-weight: 300;
    color: #fff;
}

.banner .banner-left .title span {
    font-weight: 700;
}

.banner .banner-left p {
    font-size: 18px;
    line-height: 24px;
    color: #909090;
}

.banner .banner-left button {
    padding: 16px 56px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

.product-top {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-top .product-top-left {
    display: flex;
    flex-direction: column;
}

.product-top .product-top-left .product-top-left-top {
    display: flex;
    align-items: center;
    padding-right: 48px;
}

.product-top .product-top-left .product-top-left-top div {
    font-size: 49px;
    line-height: 40px;
    color: #000000;
}

.product-top .product-top-left .product-top-left-top p,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right p,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right p,
.product-top .product-top-right .product-top-right-left p {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.product-top .product-top-left .product-top-left-top-right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-top .product-top-left .product-top-left-bottom {
    display: grid;
    grid-template-columns: 50% 50%;
}

.product-top .product-top-left .product-top-left-bottom-left {
    display: flex;
    align-items: center;
    background-color: #EDEDED;
    padding-right: 48px;
    gap: 48px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right,
.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right div {
    font-size: 29px;
    line-height: 40px;
    color: #000000;
    font-weight: 300;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-left .product-top-left-bottom-left-right div span {
    font-weight: 400;
}

.product-top .product-top-left .product-top-left-bottom-right {
    display: flex;
    align-items: center;
    background-color: #353535;
    padding-right: 48px;
    gap: 16px;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right div {
    font-size: 29px;
    line-height: 40px;
    color: #ffffff;
    font-weight: 300;
}

.product-top .product-top-left .product-top-left-bottom .product-top-left-bottom-right .product-top-left-bottom-right-right div span {
    font-weight: 400;
}

.product-top .product-top-right {
    display: flex;
    align-items: center;
    padding-left: 56px;
    background-color: #EDEDED;
    gap: 12px;
}

.product-top .product-top-right .product-top-right-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.product-top .product-top-right .product-top-right-left div {
    font-size: 64px;
    line-height: 56px;
    color: #000000;
    font-weight: 200;
}

.product-top .product-top-right .product-top-right-left div span {
    font-weight: 500;
}

.product-top .product-top-right .product-top-right-left button {
    padding: 16px 56px;
    background-color: transparent;
    border: 1px solid #000000;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.category {
    padding: 80px 0;
    background-color: #FAFAFA;
}

.category .category-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category .category-top .category-top-left {
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.category .category-top .category-top-right {
    display: flex;
    align-items: center;
    gap: 16px;
}

.category .category-top .category-top-right img:nth-child(2) {
    transform: rotate(180deg);
}

.category .category-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    gap: 32px;
}

.category .category-bottom-item {
    border-radius: 15px;
    background-color: #EDEDED;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 160px;
    padding: 24px;
}

.category .category-bottom-item p {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.products {
    padding: 56px 0;
}

.products .products-top ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0;
    gap: 32px;
}

.products .products-top ul li {
    font-size: 18px;
    line-height: 32px;
    color: #8B8B8B;
}

.products .products-top ul .active {
    position: relative;
    color: #000000;
}

.products .products-top ul .active:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0;
    top: 30px;
}

.products .products-bottom {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 32px;
    gap: 16px;
}

.products .products-bottom-item {
    background-color: #F6F6F6;
    padding: 24px 16px;
    border-radius: 9px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.products .products-bottom-item .products-bottom-item-favorite {
    display: flex;
    justify-content: end;
}

.products .products-bottom-item .products-bottom-item-favorite img:nth-child(2) {
    display: none;
}

.products .products-bottom-item .products-bottom-item-favorite.active img:nth-child(1) {
    display: none;
}

.products .products-bottom-item .products-bottom-item-favorite.active img:nth-child(2) {
    display: block;
}

.products .products-bottom-item .products-bottom-item-image {
    text-align: center;
}

.products .products-bottom-item .products-bottom-item-name {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.products .products-bottom-item .products-bottom-item-price {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-align: center;
}

.products .products-bottom-item .products-bottom-item-buy {
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.products .products-bottom-item .products-bottom-item-buy button {
    padding: 12px 64px;
    background-color: #000000;
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}

.popular {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.popular .popular-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 640px;
}

.popular .popular-item .popular-item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 376px;
}

.popular .popular-item .popular-item-content {
    padding: 0 32px 56px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.popular .popular-item .popular-item-content .popular-item-content-title {
    font-size: 33px;
    line-height: 48px;
    color: #000000;
}

.popular .popular-item .popular-item-content .popular-item-content-description {
    font-size: 14px;
    line-height: 24px;
    color: #909090;
}

.popular .popular-item .popular-item-content .popular-item-content-shop button {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #000000;
    padding: 16px 56px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.popular .popular-item:nth-child(1) {
    background-color: #ffffff;
}

.popular .popular-item:nth-child(2) {
    background-color: #F9F9F9;
}

.popular .popular-item:nth-child(3) {
    background-color: #EAEAEA;
}

.popular .popular-item:nth-child(4) {
    background-color: #2C2C2C;
}

.popular .popular-item:nth-child(4) .popular-item-content-title {
    color: #ffffff;
}

.popular .popular-item:nth-child(4) .popular-item-content-shop button {
    border-color: #ffffff;
    color: #ffffff;
}